<div class="template_div">
	<div><%= link_to 'Create New', new_account_contract_path(@account), {:class => 'listing_link', :title => 'Create New Contract'} %></div>
  	<div id="contract_listing" class="table_div contracts_listing">
  		<table id="contract_listing_table" class="listing_table">
  			<thead>
    			<%= render :partial => 'listing_header' %>
    		</thead>
    		<tbody>
    			<%= render :partial => 'listing_details', :collection => @contracts, :as => :contract %>
    		</tbody>
    	</table>
  </div>
</div>

<script type="text/javascript">
  	$(document).ready(function() {
		$('#contract_listing_table').dataTable({"iDisplayLength": 15});
  	} );
</script>