

<div id="journal" class="template_div">
	<%= render :partial => 'transactions/transactions_div', :locals => {:transactions => @transactions, :account => @account, :show_balance => false, :path => contract_journal_path(@contract.id), :form_action_path => account_delete_transactions_path(@account), :showRestore => false} %>
</div><!-- account_journal -->



