
<div class="header_row">
    <div class="account_listing_header_name account_listing_header header_cell">Name</div>
   	<div class="account_listing_header_balance account_listing_header header_cell">Balance</div>
   	<div class="account_listing_header_options account_listing_header header_cell">Options</div>
</div>
