


  <div class="header_row">
    <div class="account_journal_header_date header_cell">Date</div>
    <div class="account_journal_header_name header_cell">Name</div>
    <div class="account_journal_header_amount_credit header_cell">Credit</div>
    <div class="account_journal_header_amount_debit header_cell">Debit</div>
    <div class="account_journal_header_balance header_cell">Balance</div>
    <div class="account_journal_header_options header_cell">Options</div>
  </div>

