
<div class="header_row">
	<div class="contract_listing_name contract_listing_header header_cell">Name</div>
   	<div class="contract_listing_date_start contract_listing_header header_cell">Start Date</div>
   	<div class="contract_listing_date_end contract_listing_header header_cell">End Date</div>
   	<div class="contract_listing_type contract_listing_header header_cell">Type</div>
   	<div class="contract_listing_amount contract_listing_header header_cell">Amount</div>
   	<div class="contract_listing_options contract_listing_header listing_link header_cell">Options
    </div>
</div>