


	
<div onclick="javascript:toggle_date_selectors();">Toggle Dates</div>
<div id="date_selectors" style="display:none;">
	<div type="text" id="start_date_field" style="float:left;margin:10px;"></div>
	<div type="text" id="end_date_field" style="float:left;margin:10px;"></div>
	<div style="clear:both;"></div>
</div>


</body>
</html>

<script type="text/javascript">
  	$(document).ready(function() {

		$("#start_date_field").datepicker();
		$("#end_date_field").datepicker();
  	} );
		
</script>
