


  <div class="header_row">
    <div class="pending_header_name header_cell">Name</div>
    <div class="pending_header_amount header_cell">Debit</div>
    <div class="pending_header_amount header_cell">Credit</div>
    <div class="pending_header_date header_cell">Scheduled</div>
    <div class="pending_header_contract header_cell">Contract</div>
    <div class="pending_header_account header_cell">Account</div>
 	<div class="pending_header_options header_cell">Options</div>
  </div>

