<div id="index_page" class="template_div">
	

	<div>
		<div id="introduction">
			<div class="intro"><span class="stateli">StateLi Personal Finance</span> is a simple easy to use tool to manage accounts, income and expenses.</div> 
		</div>
	</div>
	<div id="main_image_div">
		<%= image_tag 'bank_wide.jpg' %>
	</div>
	

</div>
