<div id="index_page" class="template_div">
	

	<div>
		<div id="introduction">
			<div class="intro"><span class="stateli">StateLi Personal Finance</span> is a simple easy to use tool to manage accounts, income and expenses.</div> 
		</div>
	</div>
	<div id="main_image_div">
		<%= image_tag 'bank_wide.jpg' %>
	</div>
	<div class="instruction">
		<h2><a href="javascript:toggleInstruction('add_account'	);">Adding an Account</a></h2>
		<ol id="add_account_instruction" style="display:none;">
			<li>Click on "New Account" button</li>
			<li>Enter the account information
				<ul>
					<li>Name</li>
					<li>Description</li>
					<li>Type</li>
					<li>Balance</li>
				</ul>
			</li>
		</ol>
	</div>
	<div class="instruction">
		<h2><a href="javascript:toggleInstruction('add_expense');">Adding an Expense</a></h2>
		<ol id="add_expense_instruction" style="display:none;">
			<li>Click on "Add Expense" button</li>
			<li>Enter the expense information
				<ul>
					<li>Name</li>
					<li>Description</li>
					<li>Amount</li>
					<li>Autopay</li>
					<li>Type: Choose one of the following options
						<ul>
							<li>One-Time
								<ul>
									<li>Date</li>
								</ul>
							</li>
							<li>Weekly
								<ul>
									<li>Start Date</li>
									<li>Start Date</li>
									<li>Weekday</li>
								</ul>
							</li>
							<li>Bi-monthly
								<ul>
									<li>Start Date</li>
									<li>Start Date</li>
									<li>Day of Month</li>
									<li>Day of Month</li>
								</ul>
							</li>
							<li>Monthly
								<ul>
									<li>Start Date</li>
									<li>Start Date</li>
									<li>Day of Month</li>
								</ul>
							</li>	
							<li>Yearly
								<ul>
									<li>Start Date</li>
									<li>Start Date</li>
									<li>Date</li>
								</ul>
							</li>	
						</ul>
					</li>
				</ul>
			</li>
		</ol>
	</div>
	
	<div class="instruction">
		<h2><a href="javascript:toggleInstruction('add_income');">Adding an Income</a></h2>
		<ol id="add_income_instruction" style="display:none;">
			<li>Click on "Add Income" button</li>
			<li>Enter the income information
				<ul>
					<li>Name</li>
					<li>Description</li>
					<li>Amount</li>
					<li>Autopay</li>
					<li>Type: Choose one of the following options
						<ul>
							<li>One-Time
								<ul>
									<li>Date</li>
								</ul>
							</li>
							<li>Weekly
								<ul>
									<li>Start Date</li>
									<li>Start Date</li>
									<li>Weekday</li>
								</ul>
							</li>
							<li>Bi-monthly
								<ul>
									<li>Start Date</li>
									<li>Start Date</li>
									<li>Day of Month</li>
									<li>Day of Month</li>
								</ul>
							</li>
							<li>Monthly
								<ul>
									<li>Start Date</li>
									<li>Start Date</li>
									<li>Day of Month</li>
								</ul>
							</li>	
							<li>Yearly
								<ul>
									<li>Start Date</li>
									<li>Start Date</li>
									<li>Date</li>
								</ul>
							</li>	
						</ul>
					</li>
				</ul>
			</li>
		</ol>
	</div>
	

</div>
