
* {
	z-index: 0;
	padding: 0;
	margin: 0;
}

body,html {

	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	color: #191919;
	text-align: center;
	height: 100%;
}

ol {
	padding-left: 20px;
}

ol li {
	padding-left: 10px;
}
ul li {
	padding-left: 10px;
	list-style: none;
}

.instruction h2{
	padding: 5px 0 10px 0;
}

.instruction a {

}

select {
	width: 80px;
}

a {
	color: #000066;
}
a:visited {
	color: #000066;
}
a:hover {
	color: #000066;
	background: #FFFFFF;
}

#main_div {
	height: 100%;
	width: 100%;
	border-style: solid;
	border-width: 1px;
}

#main_image_div img {
	border-width: 2px;
	border-style: solid;
}


#welcome_div {
	height: 25px;
	line-height: 25px;
	clear: both;
	text-align: left;
	color: #000066;
	font-weight: bold;
	overflow: hidden;
	background-image: url(../images/bank_header_navigation.gif);
	margin: 1% 1% 0 1%;
}

#welcome_left {
	float: left;
	background-image: url(../images/bank_header_navigation_left.gif);
}

#welcome_right {
	float: right;
	width: 10px;
	background-image: url(../images/bank_header_navigation_right.gif);
}

#new_session_login {
	float:left;
	overflow: hidden;
}

#new_session_password {
	float:left;
	overflow: hidden;
}

#logout_div {
	float:right;
	overflow: hidden;
}

#login_form_div {
	float:right;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
}

.login_form_label {
	padding-right: 5px;
	font-weight: bold;
	float: left;
}

.login_form_value {
	padding-right: 5px;
	float: left;
}

#login_button_div {
	float: left;
	padding-left: 5px;
}
.login_button {
	height: 20px;
	margin-right: 5px;
	font-size: 85%;
	margin-bottom: 2px;
}

.main_title {
	min-width: 600px;
	text-align:center;
	height: 50px;
	line-height: 47px;
	background-image: url(../images/bank_header_navigation.gif);
	background-position: 0 -26px;
	color: #000066;
	font-size: 200%;
	letter-spacing: 2px;
	overflow: hidden;
}

.main_title_div_mouseover {
	cursor: pointer;
}

#navigation{
	width: 98%;
	min-width: 600px;
	background-image: url(../images/bank_header_navigation.gif);
	background-position: 0 -77px;
	background-repeat: none;
	height: 25px;
	margin: 0 1%;
}

#navigation_left {
	float: left;
	width: 10px;
	background-image: url(../images/bank_header_navigation_left.gif);
	background-position: 0 -77px;
	height: 25px;
}

#navigation_right {
	float: right;
	width: 10px;
	background-image: url(../images/bank_header_navigation_right.gif);
	background-position: 0 -77px;
	height: 25px;
}

#navigation_disabled{
	width: 100%;
	background-image: url(../images/bank_header_navigation.gif);
	background-position: 0 -77px;
}

.navigation_button {
	height: 100%;
    width: 100px;
	line-height: 21px;
	text-align: center;
	color: #000066;
}

.navigation_button_disabled {
	color: #999999;
}

ul.navigation_tab {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
	color: #F4F0E5;
	position: relative;
	left: 40%;
}

ul.navigation_tab li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

.drop_down {
	display: block;
	z-index: 999;
	width: 100%;
	margin: 0px;
}

.sub_navigation_button {
	height: 25px;
	width: 118px;
	line-height: 25px;
	text-align: left;
	border-width: 1px 1px 0 1px; 
	border-style: dotted;
	background-color: #3e3df7;
	background-image: url(../images/bank_header_navigation.gif);
	background-position: 0 -103px;
	color: #FFFFFF;
}

#listing_form_div {
	border: 3px solid;
	z-index: 1;
	background-image: url(../images/listing_form.gif);
}


.template_div {
	width: 100%;
	text-align: center;
	background-color: #ffffff;
	min-height: 400px;
	clear: both;
	padding-bottom: 50px;
	padding-top: 20px;
}

.table_div {
	text-align: center;
	background-color: #ffffff;
	width: 800px;
	margin: 0 auto;
	padding-top: 10px;
}
.header_row {
	width: 100%;
	clear: both;
}


#account_listing {

}

.header_cell{ 
	font-weight: bold;
	text-align: center;
	height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	background-color: #3e7bf7;
	background-image: url(../images/bank_header_navigation.gif);
	background-position: 0 -511px;
	color: #FFFFFF;
	
}

.data_cell{ 
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	height: 20px;
	overflow: hidden;
}

.account_listing_header{ 
	float: left;
	
}

.account_listing_header_name { 
	width: 198px;
}

.account_listing_header_balance { 
	width: 198px;
}

.account_listing_header_options { 
	width: 398px;
}

.account_listing_data{
	width: 33.3%;
	float: left;
}

.account_listing_data_name { 
	width: 198px;
}

.account_listing_data_balance { 
	width: 130px;
	text-align: right;
	padding-right: 68px;
}

.account_listing_data_options { 
	width: 398px;
}

#account_history {

}

.account_history_header{ 
	width: 158px;
	float: left;
}

.account_history_data{
	width: 158px;
	float: left;
}

.account_history_data_currency{
	width: 138px;
	float: left;
	text-align: right;
	padding-right: 20px;
}

#account_journal {

}

.account_journal_header_date{ 
	width: 100px;
	float: left;
}

.account_journal_header_name{ 
	width: 160px;
	float: left;
}

.account_journal_header_amount_credit{ 
	width: 135px;
	float: left;
}

.account_journal_header_amount_debit{ 
	width: 135px;
	float: left;
}

.account_journal_header_balance{ 
	width: 135px;
	float: left;
}

.account_journal_header_options{ 
	width: 123px;
	float: left;
}

.account_journal_data_date{ 
	width: 100px;
	float: left;
}

.account_journal_data_name{ 
	width: 160px;
	float: left;
}

.account_journal_data_amount_credit{ 
	width: 115px;
	text-align: right;
	padding-right: 20px;
	float: left;
}

.account_journal_data_amount_debit{ 
	width: 115px;
	text-align: right;
	padding-right: 20px;
	float: left;
}

.account_journal_data_balance{ 
	width: 115px;
	text-align: right;
	padding-right: 20px;
	float: left;
}

.account_journal_data_options{ 
	width: 123px;
	float: left;
}

#account_pending {
	
}

.account_pending_header_name{
	width: 140px;
	float: left;
}

.account_pending_header_description{
	width: 140px;
	float: left;
}

.account_pending_header_amount{
	width: 120px;
	float: left;
}

.account_pending_header_date{
	width: 120px;
	float: left;
}

.account_pending_header_contract{
	width: 140px;
	float: left;
}

.account_pending_header_options{
	width: 128px;
	float: left;
}

.account_pending_data_name{
	width: 140px;
	float: left;
}

.account_pending_data_description{
	width: 140px;
	float: left;
}

.account_pending_data_amount{
	width: 100px;
	text-align: right;
	padding-right: 20px;
	float: left;
}

.account_pending_data_date{
	width: 120px;
	float: left;
}

.account_pending_data_contract{
	width: 140px;
	float: left;
}

.account_pending_data_options{
	width: 128px;
	float: left;
}

#pending {
	
}

.pending_header_name{ 
	width: 120px;
	float: left;
}

.pending_header_description{ 
	width: 120px;
	float: left;
}

.pending_header_amount{ 
	width: 115px;
	float: left;
}

.pending_header_date{ 
	width: 80px;
	float: left;
}

.pending_header_contract{ 
	width: 120px;
	float: left;
}

.pending_header_account{ 
	width: 120px;
	float: left;
}

.pending_header_options{ 
	width: 111px;
	float: left;
}
	
.pending_data_name{ 
	width: 120px;
	float: left;
}

.pending_data_amount{ 
	width: 95px;
	text-align: right;
	padding-right: 20px;
	float: left;
}

.pending_data_date{ 
	width: 80px;
	float: left;
}

.pending_data_contract{ 
	width: 120px;
	float: left;
}

.pending_data_account{ 
	width: 120px;
	float: left;
}

.pending_data_options{ 
	width: 111px;
	float: left;
}

#account_deposit {

}

#account_withdraw {

}

#account_new {

}

#contract_credit {
}

#contract_debit {
}

.page_title_div {
	text-align: center;
	height: 60px;
	line-height: 25px;
	border-style: solid;
	border-width: 0px;
}

.date_selection_div {
	margin-top: 10px;
}

.flex_spacer_div {
	height: 10px;
}
#date_span_div {
	text-align: center;
	border-style: solid;
	border-width: 0px;
	clear:both;
}

.account_name {
	color: #3e3df7;
}

.contract_name {
	color: #3e3df7;
}

.transaction_name {
	color: #3e3df7;
}

.type_div {
	clear: both;
}

.detail_div {
	text-align: center;
	clear: both;
}

.data_row {
	clear: both;
}

.header_row {
	clear: both;
}

.form_div {
	width: 500px;
	position: absolute;
	left: 250px;
	top: 100px;
	background: #D7F73D;
	padding: 3px;
	text-align: center;
}


.form_element {
	margin: 3px;
	text-align: left;
	width: 100%;
}

.form_label {
	font-weight: bold;
	text-align: right;
	width: 245px;
	float: left;
	clear: both;
	padding-right: 5px;
}

.form_value {
	
}

.form_edit_value {
	text-align: left;
	width: 245px;
	padding-left: 5px;
}

.popup_calendar_div {
	top: 50px;
	left: 415px;	
	z-index: 999;
}
.submit_button_div {
	margin: 3px;
	text-align: center;
	width: 100%;
}

.submit_button{
	color: green;
}

#new_account_name{
}

#new_account_description{
}

#new_account_type{
}

#new_account_balance{
}

#new_account_active{
}

#new_account_submit{
}
#new_contract_name {
}
#new_contract_description {
}
#new_contract_date_start {
}
#new_contract_date_end {

}
#new_contract_type {
}
#new_contract_full_date {

}
#full_date_text{
	display: none;
}
#full_date_calendar{
	display: none;
}

.contract_listing_data_balance{

}

.contract_listing_header {
	float: left;
}

.contract_listing_name {
	width: 200px;
}

.contract_listing_date_start {
	width: 80px;
}

.contract_listing_date_end {
	width: 80px;
}
.contract_listing_type {
	width: 200px;
}
.contract_listing_amount {
	width: 95px;
}

.contract_listing_options {
	width: 100px;
}
.contract_listing_data{
	float: left;
}

#new_contract_day_of_month {
}
#new_contract_day_of_month_alt {
}
#new_contract_weekday {
}
#new_contract_autopay {

}
#new_contract_autopay_account {

}
#new_contract_active {
  display: none;
}
#new_contract_amount {
  clear: both;
}
#new_contract_submit {
}

.overdue {
	font-weight: bold;
	background-color: #D7F73D;
}

.overdue div{
	font-weight: bold;
	background-color: #D7F73D;
}

.listing_link {
	font-size: 85%;
	letter-spacing: 1px;
}

.detail_label {
	font-weight: bold;
	text-align: right;
	width: 49%;
	float: left;
	clear: both;
	padding-right: 2%;
}

.detail_value {
	text-align: left;
	padding-left: 3%;
}

.option_link_span {
	
}

.navselected {
	
	color: #f75d3d;
}

.navmouseover {
	
	background-image: url(../images/bank_header_navigation.gif);
	background-position: 0 -103px;
	color: #FFFFFF;
	border-width: 0;
	border-style: dotted;
	cursor: pointer;
	height: 25px;
}

.subnavselected {
	background-image: url(../images/bank_header_navigation.gif);
	background-position: 0 -103px;
	color: #375672;
}

.subnavmouseover {
	background-image: url(../images/bank_header_navigation.gif);
	background-position: 0 -181px;
	color: #808080;
	cursor: pointer;
}

#flashdiv {
	position: absolute;
	text-align: center;
	color: green;
	width: 100%;
}

.instruction {
	text-align: left;
	padding-left: 100px;
	display:none;
}

#introduction {
	padding: 20px 0 20px 0;
}

.intro{
	text-align: center;
}

.stateli {
	font-weight: bold;
	color: #4f73aa;
}

#footer {
	width: 98%;
	margin: 0 1%;
	height: 50px;
	line-height: 70px;
	background-image: url(../images/bank_header_navigation.gif);
	background-position: 0 -460px;
	font-size: 85%;
	text-align: right;
}

#footer_text{
	position
}
#footer_left {
	float: left;
	width: 10px;
	background-image: url(../images/bank_header_navigation_left.gif);
	background-position: 0 -460px;
	height: 50px;
}

#footer_right {
	float: right;
	width: 10px;
	background-image: url(../images/bank_header_navigation_right.gif);
	background-position: 0 -460px;
	height: 50px;
}