
<fieldset>
	<legend>Registration</legend>
	<ul>
		<li>  
			<label for="file[name]">Username:</label>  
			<%= f.text_field :login, :class => "base_form_field" %>
		</li>
    	
  		<li>  
			<label for="file[name]">Email:</label>  
			<%= f.text_field :email, :class => "base_form_field" %>
		</li>
    	
  		<li>  
			<label for="file[name]">Password:</label>  
			<%= f.password_field :password, :class => "base_form_field" %>
		</li>
		<li>
			<label for="file[name]">Confirm Password:</label>  
			<%= f.password_field :password_confirmation, :class => "base_form_field" %>
		</li>
	</ul>
</fieldset>