

<% form_tag ('', {:class => 'ajaxForm', :id=> 'transactions_form'}) do %>

<div id="transaction_listing_table_div" class="table_div">
    <%= render :partial => 'transactions/transactions_listing_table', :locals => {:transactions => transactions, :account => account, :showBalance => showBalance, :showRestore => showRestore, :showFilter => showFilter, :showDeactivate => showDeactivate} %>
</div><!--table_div-->

<% end %>

<div id="filter_dialog" title="Filters" style="display:none;">
	<%= render :partial => 'accounts/pocket_filters', :locals => {:path =>  path} %>
</div>

<script type="text/javascript">
	$(document).ajaxStop($.unblockUI); 
		
  	$(document).ready(function() {
		$("#filter_dialog").dialog({
	      	bgiframe: true, 
	      	autoOpen: false, 
	      	modal: true,
	      	width: '850px',
			buttons: {
				Cancel: function() {
					$(this).dialog('close');
					$('#filter_commit').val('cancel');
					$('#filter_form').submit();
					
				},
				'OK': function() {
					$(this).dialog('close');
					$.blockUI({message: '<h1>processing...</h1>'}); 
					$('#filter_commit').val('update');
					$('#filter_form').submit();
				}
			}
	    }); 
	});
</script>
