

<% form_tag (account_delete_transactions_path(account), {:class => 'ajaxForm'}) do %>

<div id="transaction_listing_table_div" class="table_div">
    <%= render :partial => 'transactions/transactions_listing_table', :locals => {:transactions => transactions, :account => account, :show_balance => show_balance} %>
</div><!--table_div-->

<div class="form_button_container">
	<%= submit_tag "Delete Checked", {:id => 'submit_button', :class => 'button'} %>
	<%= submit_tag "Filter", {:id => 'submit_button', :class => 'button', :onclick => "javascript:show_filters_dialog();"} %>
</div>	

<% end %>

<div id="filter_dialog" title="Filters" style="display:none;">
	<%= render :partial => 'accounts/pocket_filters', :locals => {:path =>  path} %>
</div>

<script type="text/javascript">
  	$(document).ready(function() {
		$("#filter_dialog").dialog({
	      	bgiframe: true, 
	      	autoOpen: false, 
	      	modal: true,
	      	width: '850px',
			buttons: {
				Cancel: function() {
					$(this).dialog('close');
					$('#filter_commit').val('cancel');
					$('#filter_form').submit();
					
				},
				'OK': function() {
					$(this).dialog('close');
					$('#filter_commit').val('update');
					$('#filter_form').submit();
				}
			}
	    });    
	    
		$('#transaction_listing_table').dataTable({
			"iDisplayLength": 15,
			"aaSorting": [[1, "asc"]],
			"aoColumns": [
				null,
				{"sType": 'date'},
				{"sType": 'string'},
				{"sType": 'numeric'},
				{"sType": 'numeric'},
			<% if show_balance %>
				{"sType": 'numeric'},
			<% end %>
				{"sType": 'string'},
				null
				]
		});
		  
  	} );
</script>
