

<div id="journal" class="template_div">
	
	<%= render :partial => 'transactions/transactions_div', :locals => {:transactions => @transactions, :account => @account, :show_balance => true, :path => account_journal_path(@account.id)} %>
</div><!-- account_journal -->



