

<div id="journal" class="template_div">
	<div class="page_title_div">
		&nbsp;
	</div><!-- page_title_div -->
	<%= render :partial => 'transactions/transactions_div', :locals => {:transactions => @transactions, :account => @account, :show_balance => true, :path => account_journal_path(@account.id), :form_action_path => account_delete_transactions_path(@account), :showRestore => false} %>
</div><!-- account_journal -->



